<div class="container">
      <h1>Products List</h1>
      <div class="main-content">
        <table style="border:5px;border-color:blue;border-style: dotted;width: 600px;">
          <tr>
            <th style="font-weight: bolder;width: 80px;border-style: dotted;">Multi-Colored</th>
            <th style="font-weight: bolder;width: 80px;border-style: dotted;">Corporate</th>
            <th style="font-weight: bolder;width: 80px;border-style: dotted;">Plain</th>
           </tr>
           <tr> 
            <td style="border-style: dotted;">
              <ul class="productul">
                <li class="productli">
                    <label style="width:10px;font-size:large;font-family: 'Times New Roman', Times, serif;font-style: normal;">MCFlora</label> 
                    <img src="assets/images/TMania_BGM.png" width="100px">
                    <p style="word-wrap: normal;font-size: small;">Explore multiple colors that suits your taste!!!</p>
                </li>
                </ul>
            </td>
            <td style="border-style: dotted;">
              <ul class="productul">
                <li class="productli">
                  <label style="width:10px;font-size:large;font-family: 'Times New Roman', Times, serif;font-style: normal;">CorporateGaze</label> 
                  <img src="assets/images/TMania_BGM2.png" width="100px">
                  <p style="word-wrap: normal;font-size: small;">Blended with Corporate touch.Embrace and get recognized at your workplace!!!</p> 
                </li>
                </ul>
            </td>
            <td style="border-style: dotted;">
              <ul class="productul">
                <li class="productli">
                  <label style="width:10px;font-size:large;font-family: 'Times New Roman', Times, serif;font-style: normal;">PlainEmbraze</label>
                  <img src="assets/images/TMania_BGM3.png" width="100px">
                  <p style="word-wrap: normal;font-size: small;">Be the one you like to be.Select your options!!!</p>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td> 
              <ul class="productul">
              <li class="productli">
                <label style="width:10px;font-size:large;font-family: 'Times New Roman', Times, serif;font-style: normal;">CorporateGaze</label> 
                <img src="assets/images/TMania_BGM2.png" width="100px">
                <p style="word-wrap: normal;font-weight: bolder;font-size: small;">Blended with Corporate touch.Embrace and get recognized at your workplace!!!</p>
              </li>
              </ul></td>
            <td>world</td>          
            <td>how are you!!!</td>          
          </tr>
        </table>
        <!-- <a href="#" (click)="navigateToSignIn()">Sign-In</a> -->
      </div>
</div>