<div id="container">
    <div class="header">
      <h1>T-Mania</h1>
      <nav class="menu">
        <ul>
            <li><a routerLink="/sign-in">Sign-In</a></li>
            <li><a routerLink="/products" marging-left="5px">Products</a></li>
            <li><a routerLink="/carts">Carts</a></li>
        </ul>
        <!-- <a href="#" (click)="navigateToSignIn()">Sign-In</a> -->
      </nav>
    </div>
    <div class="main-content">
      <div class="banner">
        <!-- <img src='../../assets/images/financial_institution.jpg' alt="Banner"> -->
      </div>
      <section class="welcome-message">
        <h2 style="color: rgb(10, 247, 156);font-weight: bolder;font-size: x-large;">Welcome all to T-Mania: Where Style Meets Comfort</h2>
        <p style="color: rgb(218, 15, 126);font-weight: bold;font-size:medium;">At T-Mani, we believe that a t-shirt is more than just fabric; 
            it’s an expression of your personality. 
            Our collection blends trendy designs with unmatched comfort, 
            making every tee a statement piece.
        </p>
        <div style="align-self:normal;margin-left: 0px;">
            <p style="color: rgb(10, 247, 156);font-weight:font-weight: bold;font-size: x-large;">Why choose us?</p>
            <ul class="productul">
                <li class="productli">
                    <p style="color:rgb(255, 217, 0) ;font-size: large;font-weight: bolder;word-wrap: normal;text-align: left;">Premium materials for durability.</p> 
                    <img src="assets/images/Designer_Tshirts_Banner.png" class="icon">
                    <span class="label">Quality Craftsmanship: Each t-shirt is meticulously crafted from premium materials, ensuring durability and softness against your skin.
                    </span>
                    <button class="cartbutton">More Details...</button>
                </li>
                <li>
                    <p style="color:rgb(255, 217, 0) ;font-size: large;font-weight: bolder;">Showcase your unique flair.</p>
                    <img src="assets/images/Designer_Tshirts_Banner.png" class="icon" /> 
                    <span class="label">Express Yourself: Whether you’re a minimalist or a maximalist, our tees let you showcase your unique flair.</span>
                    <button class="cartbutton">More Details...</button>
                </li>
                <li>
                    <p style="color:rgb(255, 217, 0) ;font-size: large;font-weight: bolder;">From classic crew necks to V-necks.</p>
                    <img src="assets/images/short_sleeves_white_t_shirt_mockup.jpg" class="icon" />     
                    <span class="label">Versatile Styles: From classic crew necks to modern V-necks, we’ve got the perfect fit for every occasion.
                    </span>
                    <button class="cartbutton">More Details...</button>
                </li>
                <li>
                    <p style="color:rgb(255, 217, 0) ;font-size: large;font-weight: bolder;">A palette for every taste.</p>
                    <img src="assets/images/Designer_Tshirts_Banner.png" class="icon" />      
                    <span class="label">Vibrant Colors: Our palette ranges from bold hues to subtle pastels, allowing you to find your signature shade.
                    </span>
                    <button class="cartbutton">More Details...</button>
                </li>
            </ul>
        </div>
        <!-- <table>
            <tr>
                <td>
                    <div class="banner"></div>
                </td>
                <td>
                    <div class="banner"></div>
                    <select>
                        <option>Database1</option>
                        <option>Database2</option>
                        <option>Database3</option>
                    </select>
                </td>
                <td>
                    <div style="background-image: url('../../assets/images/banner.png');"></div>
                    <select>
                        <option>Database1</option>
                        <option>Database2</option>
                        <option>Database3</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="banner"></div>
                    <select>
                        <option>Database1</option>
                        <option>Database2</option>
                        <option>Database3</option>
                    </select>
                </td>
                <td>
                    <div class="banner"></div>
                    <select>
                        <option>Database1</option>
                        <option>Database2</option>
                        <option>Database3</option>
                    </select>
                </td>
                <td>
                    <div class="banner"></div>
                    <select>
                        <option>Database1</option>
                        <option>Database2</option>
                        <option>Database3</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="banner"></div>
                    <select>
                        <option>Database1</option>
                        <option>Database2</option>
                        <option>Database3</option>
                    </select>
                </td>
                <td>
                    <div class="banner"></div>
                    <select>
                        <option>Database1</option>
                        <option>Database2</option>
                        <option>Database3</option>
                    </select>
                </td>
                <td>
                    <div class="banner"></div>
                    <select>
                        <option>Database1</option>
                        <option>Database2</option>
                        <option>Database3</option>
                    </select>
                </td>
            </tr>
        </table> -->
      </section>
    </div>
    <div class="footer">
      <p>© 2024 My Angular App. All rights reserved.</p>
    </div>
  </div>