<div class="container">
    <div class="icon-container">
        <img src="assets/images/Shopping_Cart.png" alt="Shopping Cart Icon" class="icon">
        <span>Your Shopping Cart!</span>
    </div>
    <div class="main-content">
      <ul class="cartul">
          <li class="cartli">
            <div class="icon-container">
              <label>{{"Produc1:"}}</label> 
              <img src="assets/images/banner.png" width="100px">
              <label>Quantity:{{500}}</label>
              <label>Price:{{5000}}</label>
            </div>
            </li>
          <li>
            <div class="icon-container">
                <label>{{"Product2:"}}</label> 
                <img src="assets/images/financial_institution.jpg" width="100px">
                <label>Quantity:{{200}}</label>
                <label>Price:{{2000}}</label>
            </div>
            </li>
          <li>
            <div class="icon-container">
                <label>{{"Product3:"}}</label> 
                <img src="assets/images/financial_institution.jpg" width="100px">
                <label>Quantity:{{100}}</label>
                <label>Price:{{1000}}</label>
            </div>
            </li>
      </ul>
      <!-- <a href="#" (click)="navigateToSignIn()">Sign-In</a> -->
    </div>
</div>